 /* section 1 */

 .hero-content .hero-title {
    margin-bottom: 3rem;
}
.hero-content .hero-title .hero-title h1 {
    line-height: 1;
}
.hero-image img {
    border-radius: 0rem;
}
.hero-btn {
    margin-top: 3rem;
}

/* why choose us */
.wc-head-image {
    width: 14rem;
    margin-bottom: 2rem;
}
.why-choose-area  .wc-area-img {
    margin-bottom: 0.5rem;
}
.why-choose-area  .wc-area-img img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

/* mentor section */
.mentor-area {
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: 2px 5px 10px #999;
    border-radius: 10px;
}
.mentor_part {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
}
.menort_Img {
    margin-bottom: 0.5rem;
}
.menort_Img img {
    width: 100%;
    border-radius: 10px;
}
.mentor_details {
    padding: 0rem 0.7rem;
}
.mentor_course ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: 12px;
    color: var(--font-color);
    padding: 0;
}
.mentor_course ul li {
    padding: 0px 7px;
    position: relative;
    text-align: center;
}
.mentor_course ul li:not(:last-child)::after {
    content: "|";
    position: absolute;
    top: -6px;
    right: -3px;
    z-index: 1;
    font-weight: 500;
    font-size: large;
}

.mentor_btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


/* Testimonials 1 */

.testi-content .hero-title {
    margin-bottom: 3rem;
}
.testi-content .hero-title .hero-title h1 {
    line-height: 1;
}
.testi-image img {
    border-radius: 2rem;
}
.testi-btn {
    margin-top: 3rem;
}


/* FAQ */
.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    background-color: var(--theme-dark-color);
    color: #fff;
}
.accordion-button::after {
    filter: invert(1);
}
.accordion-body {
    padding: 1rem 1.25rem;
    border: 1px solid #999;
}
.accordion-button:not(.collapsed)::after {
    filter: invert(1) brightness(5.5) contrast(0.5) saturate(0.5) grayscale(3);
}
