.container-fluid.fix-header {
    position: sticky;
    top: 0;
    box-shadow: rgb(0 0 0 / 23%) 0px 1px 10px 0px;
    z-index: 999;
    background-color: #fff;
}
#header {
  padding: 1rem 0rem;
}
#header .header-main {
    max-height: 70px;
    padding: 10px;
    padding: 0 10px;
}
#header .header-main .web-logo{
    display: flex;
    align-items: center;
    justify-content: left;
}
#header .header-main .web-logo img{
    width: 15rem;
    box-shadow: 1px 2px 5px #9999994d;
    border-radius: 2px;
}

#header .header-main .nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#header .header-main .nav .head-item.nav-link {
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    padding: 0.1rem 1rem;
    border-radius: 50px;
    margin-right: 0.2rem;
    color: var(--theme-dark-color);
}
#header .header-main .nav .head-item.nav-link:hover, #header .header-main .nav .head-item.nav-link.active {
    color: #fff;
    background-color: var(--theme-dark-color);
    border-radius: 50px;
    transition: all 0.5s;
}
#header .header-main .header-side-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}